In [ ]:
tuple write up
how to read the tuple
diff between tuple and list

In [22]:
tup=(1,2,3,4,1,2,3,4,4)
tuple.count(3)

1

In [ ]:
lambda

In [ ]:
<function_name>=lambda <arugumentname>: <return value>

In [27]:
add=lambda num :num+10
add(20)

10

In [31]:

1)def cube(num):
    return(num*num*num)
================================

a)cube=lambda num:num*num*num
cube(25)

15625

In [ ]:
pattern-2

In [34]:
1)def add (num1,num2):
    return(num1+num2)

==============================================

a)add=lambda num1,num2:num1+num2
add(10,20)

SyntaxError: invalid syntax (4183079320.py, line 4)

In [36]:
3)  def avg(num1,num2,num3):
    return(num1+num2+num3)/3

avg(10,20,30)


=========
a)  avg=lambda num1,num2,num3=30:(num1+num2+num3)/3
avg(10,20)

20.0

In [37]:
def avg(num1,num2,num3):
    return(num1+num2+num3)/3

avg(10,20,30)

20.0

In [41]:
def greater(n1,n2):
    if n1>n2:
        print('n1 is greater')

    else :
        print('n2 is greater')

greater(20,90)

n2 is greater

In [45]:
greater=lambda n1,n2: True if n1>n2 else False
greater(10,20)

False

In [46]:
greater=lambda n1,n2:' n1 is greter' if n1>n2 else 'n2 is gretaer '
greater(10,20)

'n2 is gretaer '

In [50]:
tuple=(10,20,30,30,30,30,30)
tuple.count(30)

5

In [58]:
tuple=(10,20,30,40,50,60,30)
v1=tuple.index(30)
v2=tuple.index(30,v1+1)
v2

6

In [59]:
tuple=(10,20,30,40,50,60,30)
tuple[1]=30
tuple

TypeError: 'tuple' object does not support item assignment

In [62]:
tuple=(10,20,30,40,50,60,30)
tuple.append('110')
tuple

AttributeError: 'tuple' object has no attribute 'append'

In [67]:
tuple=('nano','mega','terra')
u=list(tuple)
print(u)
u.append('milo')
u

['nano', 'mega', 'terra']

['nano', 'mega', 'terra', 'milo']

In [6]:
list1=['CHeNNai','banglore','chennai']
for i in list1:
    print(i.capitalize())

Chennai
Banglore
Chennai

In [3]:
[i.capitalize() for i in list1]

['Chennai', 'Banglore', 'Chennai']

In [11]:
list(map(lambda i : i.capitalize() ,list1))

['Chennai', 'Banglore', 'Chennai']

In [1]:
l1=[1,2,3,4,5]
l2=[20,30,40,50]
for i in l1:
    print(i)

1
2
3
4
5

In [3]:
list(map(lambda i : i*10,l1))

[10, 20, 30, 40, 50]

In [20]:
list1=['hyd','banglore','hyderabad']
for i in list1:
    if len(i)>3:
        print(i)

banglore
hyderabad

In [27]:
list(map(lambda i :len(i)>3,list1))

[False, True, True]

In [28]:
list(filter(lambda i:len(i)>3,list1))

['banglore', 'hyderabad']

In [45]:
list1=['hy#d','banglore','hyd#erabad']
for i in list1:
    if '#' in i:
        print(i)

hy#d
hyd#erabad

In [42]:
list(filter(lambda i:'#' in i,list1))

['hy#d', 'hyd#erabad']