In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import sklearn

In [ ]:
dict1={'names':['ram','sam','deep'],
      'age':[np.nan,2,3],
      'city':['hyd',np.nan,'ee']}#none also works instead of nan
d1=pd.DataFrame(dict1)
d1.isnull().sum()
d1.to_csv('d1.csv')

In [ ]:
d1.fillna(41,inplace=True)

In [ ]:
d1.dtypes

In [ ]:
dict2={'names':['ram','sam','deep'],
      'age':[np.nan,2,3],
      'city':['hyd',np.nan,'ee']}
d2=pd.DataFrame(dict1)
d2['age'].fillna(91,inplace=True)
d2

In [ ]:
dict9={'names':['ram','sam','deep'],
      'age':[np.nan,2,3],
      'city':['hyd',np.nan,'ee']}
d9=pd.DataFrame(dict9)
m1=d9['age'].mean()
d9['age'].fillna(m1,inplace=True)
d9

In [3]:
d1={'names':['ram','sam','deep'],
      'age':[np.nan,2,3],
      'city':['hyd',np.nan,'ee']}
a1=pd.DataFrame(d1)
m1=a1['age'].median()
a1['age'].fillna(m1,inplace=True)
a1

/var/folders/pk/3249rbnn3_n7kvqfdkjfw8sm0000gp/T/ipykernel_99888/4110707978.py:6: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  a1['age'].fillna(m1,inplace=True)

  names  age city
0   ram  2.5  hyd
1   sam  2.0  NaN
2  deep  3.0   ee

In [27]:
dict9={'names':['ram','sam','deep'],
      'age':[np.nan,2,3],
      'city':['hyd',np.nan,'ee']}
d1=pd.DataFrame(dict9)
d1.bfill(axis=1)

  names  age city
0   ram  hyd  hyd
1   sam  2.0  NaN
2  deep  3.0   ee

In [ ]:
pad
bfill
ffill

In [30]:
ls ml

10 sept.ipynb                      exceptional_handling.ipynb
11th aug.ipynb                     exe2.ipynb
12th aug_lambda.ipynb              execrcise.ipynb
12thaug11.ipynb                    hello.py
13th aug.ipynb                     histogram.ipynb
14th aug.ipynb                     indexofbook.ipynb
22aug_ml.ipynb                     loan_prdictions.ipynb
24thaug.ipynb                      loop.ipynb
25thaug.ipynb                      missing_value_oct3.ipynb
26th sept.ipynb                    my_files_ml/
3rd aug.ipynb                      new.py
4thsep.ipynb                       new1
6th aug.ipynb                      num_def.csv
6thaug_imp.ipynb                   operations.ipynb
7th aug.ipynb                      outliers.ipynb
Data types.ipynb                   output.csv
EasyVisa.csv                       preparation.ipynb
ML-cls1.ipynb                      sept 25.ipynb
ML.ipynb                           sept 27th standard and norm.ipynb
Untitled.ipynb                     sept 28 data transformation.ipynb
aug23_cat_anlalysy.ipynb           session. 4.ipynb
aug8.ipynb                         session1.ipynb
bank.csv                           session2 variables.ipynb
cont_csv                           session3print.ipynb
cont_pic.png                       string_examples.ipynb
dummy.txt                          test_lAUu6dG.csv
even_odd.py                        wine.csv
example.ipynb                      works/

In [3]:
file='/Users/vijayasri/ML/EasyVisa.csv'
D_frame=pd.read_csv(file)
from sklearn.impute import KNNImputer
le=KNNImputer()
class1=le.fit_transform(D_frame[['no_of_employees']])
D_frame.head()

,case_id,continent,education_of_employee,has_job_experience,requires_job_training,no_of_employees,yr_of_estab,region_of_employment,prevailing_wage,unit_of_wage,full_time_position,case_status
0,EZYV01,Asia,High School,N,N,14513,2007,West,592.2029,Hour,Y,Denied
1,EZYV02,Asia,Master's,Y,N,2412,2002,Northeast,83425.6500,Year,Y,Certified
2,EZYV03,Asia,Bachelor's,N,Y,44444,2008,West,122996.8600,Year,Y,Denied
3,EZYV04,Asia,Bachelor's,N,N,98,1897,West,83434.0300,Year,Y,Denied
4,EZYV05,Africa,Master's,Y,N,1082,2005,South,149907.3900,Year,Y,Certified

In [82]:
D_frame['continent'].count

<bound method Series.count of 0          Asia
1          Asia
2          Asia
3          Asia
4        Africa
          ...
25475      Asia
25476      Asia
25477      Asia
25478      Asia
25479      Asia
Name: continent, Length: 25480, dtype: object>

In [79]:
name={'weight':[32,np.nan,23],
     'height':[np.nan,2,3],
     'numm':[np.nan,'abb','ass']}
we=pd.DataFrame(name)
we
from sklearn.impute import KNNImputer
le=KNNImputer()
he=le.fit_transform(we[['height']])
he

array([[2.5],
       [2. ],
       [3. ]])