In [ ]:
pwd

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
name='/Users/vijayasri/ML/EasyVisa.csv/'
file=open(name)

In [ ]:
ls ml

In [ ]:
pwd

In [ ]:
ls ML/EasyVisa.csv

In [ ]:
file_path='/Users/vijayasri/ML/EasyVisa.csv'
file_name=open(file_path)
print(file_name.read())

In [ ]:
pip install pandas

In [ ]:
file_path='/Users/vijayasri/ML/EasyVisa.csv'

In [ ]:
import pandas as pd
dir(pd)
file_path='/Users/vijayasri/ML/EasyVisa.csv'
pd.read_csv(file_path)

In [ ]:
file_path='/Users/vijayasri/ML/EasyVisa.csv'

In [ ]:
file_path

In [ ]:
ls /Users/vijayasri/ML/EasyVisa.csv

In [ ]:
pd.read_csv(file_path)

In [ ]:
import numpy as np

In [ ]:
pip install matplotlib

In [ ]:
pip install seaborn

In [ ]:
import pandas as pd
file='/Users/vijayasri/ML/bank.csv'
pd.read_csv(file)

In [ ]:
ls ml

In [ ]:
pwd

In [ ]:
file_doc='/Users/vijayasri/ml/EasyVisa.csv'
pd.read_csv(file_doc)

In [ ]:
ls ml/EasyVisa.csv

In [ ]:
1.how to create data frame==under pd
2.how to add colums
3.how to add rows
4.how to drop colums
5.how to drop rows
6.how to save dataframe

In [ ]:
step1=craete the dataframes
step2=update the colum
sep3=update the rows
step4=

In [4]:
import pandas as pd
names=['rohith','raghu','sandhya']
age=[20,30,29]
salary=[1000,2000,3000]
pdf1=pd.DataFrame(zip(names,age,salary),columns=['names','age','salary'],index=['a','b','c'])
pdf1['city']=['chennai','banglore','hyd']
print(len(pdf1.index))
pdf1.loc['d']=['ammu',90,29000,'punjab']
pdf1['address']=['a','b','c','d']

pdf1

3

     names  age  salary      city address
a   rohith   20    1000   chennai       a
b    raghu   30    2000  banglore       b
c  sandhya   29    3000       hyd       c
d     ammu   90   29000    punjab       d

In [7]:
import pandas as pd
names=['rohith','raghu','sandhya']
age=[20,30,29]
salary=[1000,2000,3000]
df2=pd.DataFrame(zip(names,age,salary))
df2['sum']=[1,2,3]
df2.drop('sum',axis=1,inplace=True)
df2.drop(2)

         0   1     2  sum
0   rohith  20  1000    1
1    raghu  30  2000    2
2  sandhya  29  3000    3

In [11]:
import pandas as pd
names=('k','l','p')
age=(10,20,30)
number=(100,200,300)
pd3=pd.DataFrame(zip(names,age,number),columns=('names','age','numbers'),index=('q1','q2','q3'))
pd3.drop('age',axis=1,inplace=True)
pd3.drop('q3',inplace=True)

pd3.to_csv('output.csv',index=False)
pd3

   names  numbers
q1     k      100
q2     l      200

In [ ]:
axis=1====colums
axis=0====rows
inplace
drop

In [ ]:
pwd

In [ ]:
'/Users/vijayasri/ML/ '

In [ ]:
ls

In [ ]:
'Users/vijayasri/ ML'

In [ ]:
ls

ms/

In [ ]:
ls

In [ ]:
'Users/vijayasri/ML/'

In [ ]:
ls

In [ ]:
pwd

In [ ]:
ls

In [ ]:
'/Users/vijayasri/ ML/'

In [ ]:
ls

In [ ]:
ls

In [ ]:
ls

In [ ]:
 ls ml

In [ ]:
'Users/vijayasri/ ML/works'

In [ ]:
file='/Users/vijayasri/ML/output.csv'
pd.read_csv(file)

In [ ]:
file='output.csv'
pd.read_csv(file)

In [ ]:
d1={'names':['mani','deepa','manu'], 'clas':[1,2,3,]}
pd.DataFrame(d1,index=['a','s','d'])

In [ ]:

import random
df1=pd.DataFrame()
df1
even=[]
for i in range(20):
    num=random.randint(20,30)
    if i%2==0:
        even.append(i)

even
df1['even']=even
df1['odd']=[1,3,5,6,7,8,9,0,1,2]


df1['sum']=[1,3,2,4,5,6,7,8,9,10]
df1.drop('even',axis=1)

In [ ]:
pd.read_csv('/Users/vijayasri/ML/output.csv')

In [ ]:
dateframe
inplace
axis
loc
drop

In [ ]:
pwd

In [ ]:
import pandas as pd
file=('/Users/vijayasri/ ML/bank.csv ')
pd.read_csv(file)

In [ ]:
 ls  ML/

In [ ]:
'/Users/vijayasri/ ML/bank.csv '

In [ ]:
pwd

In [ ]:

file='/Users/vijayasri/ML/bank.csv'
pd.read_csv(file)

In [ ]:
ls ml

In [ ]:
import pandas as pd
file='/Users/vijayasri/ML/bank.csv'
pd.read_csv(file)