In [13]:
a=10
b=20        
c=a+b
c
print ("the value of a and b is c")

the value of a and b is c

In [15]:
print ('hello')
print('python')

hello
python

In [22]:
name = "nobitha"
age =  20
print("my name is",name, "my age is" ,age)

my name is nobitha my age is 20

In [27]:
a = 20
b = 30
c
print (f"the value of a is {a} and b is {b}")

the value of a is 20 and b is 30

In [42]:
name = "nobitha"
age =  20
print(f"my name is {name} my age is{age}")

my name isnobitha my age is20

In [4]:
print ('hello', end=" ")
print('python')

hello python

SyntaxError: invalid syntax (1450935892.py, line 1)

In [57]:

print (10, end=" ")
print (0, end = " ")
print (10)

10 0 10

In [ ]:
#printing formattind and end