In [2]:
name='python'
for i in range(len(name)):
    print(i,i-len(name))

0 -6
1 -5
2 -4
3 -3
4 -2
5 -1

In [ ]:
def mul(numbers):
    rem=x*y*z
    print(rem)

print(mul(2,3,4))

In [4]:
def mul(numbers):
    total = 1 
    for i in numbers:
        total = i*total
        print(total)
    return total

mul((1,2,3,4,5))

1
2
6
24
120

120

In [13]:
a="hai hai hai"
for i in range(len(a)):
    print(i,a[i],)

0 h
1 a
2 i
3
4 h
5 a
6 i
7
8 h
9 a
10 i

In [ ]:
a[]

In [6]:
a="haihaihai"
sum=0
for i in range(len(a)):
    if a[i]=='a':
            print(a[i],i)
            sum=sum+i
print(sum)
print('the total no of a is',sum)

a 1
a 4
a 7
12
the total no of a is 12

In [50]:
a="hai hai hai"
for i in range(len(a)):
    print(a[i],i)

h 0
a 1
i 2
  3
h 4
a 5
i 6
  7
h 8
a 9
i 10

In [62]:
string = 'hai how are you'
str2=''
for i in string:
    if i in 'aeiou':
        print(i)
        str2=str2+i
print(str2)

a
i
o
a
e
o
u
aioaeou

In [54]:
string = 'hai how are you'
for i in string:
    if i in 'aeiou':
        print(i)

a
i
o
a
e
o
u

In [ ]:
string = 'hai how are you'
i=0
count=0
while (i<len(string)):
        if string[i] in 'aeiou':
            count=count+1
            print(string[i])
        i=i+1


print(count)

In [63]:
string='hai how are you'
ask=''
total=0
for i in string:
    if i in 'aeiou':
        if i not in ask:
            print(i)
            ask = ask+i
            total=total+len(ask)
            print(total)
            print(len(ask))

a
1
1
i
3
2
o
6
3
e
10
4
u
15
5

In [ ]:
mutable -----change with index
immutable___cant change with index oper
strings are immutable

In [ ]:
num=[10,20,30]
num[0]=20
num

In [ ]:
num=[1,2,3]
min(0,1)

$slice$

$slice$

In [91]:
str='hai how are you'
str[0:12:2]

'hihwae'

In [ ]:
str1=[3:12:3]
str1=[3:12:-3]
str1=[3:12:3]

$string_methods$

In [ ]:
str1='python'
dir(str1)

$captalize method$=====first letter of string will become capital remaing will remains same

In [9]:
str1='python'
help(str1.capitalize)
str1.capitalize()

Help on built-in function capitalize:

capitalize() method of builtins.str instance
    Return a capitalized version of the string.

    More specifically, make the first character have upper case and the rest lower
    case.

NameError: name 'Method' is not defined

In [13]:
str_cap='madhav iit'.capitalize()

In [14]:
str_cap

'Madhav iit'

In [15]:
str_cap='madhav iit'.capitalize()
help('madhav'.capitalize)

Help on built-in function capitalize:

capitalize() method of builtins.str instance
    Return a capitalized version of the string.

    More specifically, make the first character have upper case and the rest lower
    case.

In [20]:
str1='python'
str1.lower()

'python'

$casefold$===case fold will give lower case letter even wtever the main string is

In [94]:
str1='PYTHoN'
dir(str1)
help(str1.casefold)
str1.casefold()

Help on built-in function casefold:

casefold() method of builtins.str instance
    Return a version of the string suitable for caseless comparisons.

'python'

In [66]:
str1='python'
dir(str1)
str1.swapcase()#=====#will swap to other case wtever you given

'PYTHON'

In [34]:
dir(str1)
str1.splitlines()

['PYTHON']

$count$===will counts the how many given charaters are in the string

In [38]:
A="hai hai hai"
A.count('a')

3

In [51]:
A="hai hai hai"
A.count('a',3,10)

2

In [77]:
A="hai hai hai"
counter=0
for i in range(len(A)):
    if A[i:i+3]=='hai':
        counter=counter+1
        print(counter)

1
2
3

In [73]:
max("hai hai hai")

'i'

In [81]:
A="hai hai hai"
A.count('a')

3

In [95]:
str='pyyyyython'
str.replace('y','Y',2)=====will repalce the given charater

SyntaxError: invalid syntax (2039313630.py, line 2)

In [103]:
str='restart'
str.replace('rt','$t')

'resta$t'

In [105]:
str='restart'
str.replace('r','$',-2)

'$esta$t'

In [108]:
str='restart'
str1=str[:-3]+'$t'
print(str1)

rest$t

In [121]:
str='restart'
str1=str[::-1]
str5=str1.replace('r','$',1)
str4=str5[::-1]
str4

'resta$t'